body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}
.container {
  text-align: center;
}
button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 50%; /* شكل دائري */
  position: relative;
  overflow: hidden;
}
button img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  border-radius: 50%; /* شكل دائري */
}

}
